<button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseButton" aria-expanded="false" aria-controls="collapseButton">
    <!-- Button with data-target -->
</button>
<div class="collapse" id="collapseButton">
    <div class="">
      <a class="btn btn-success btn-sm" href="/signup/faker">Create new faker account</a>
      <a class="btn btn-info btn-sm" href="/database">Show all created account</a>
    </div>
</div>