<div class="feed">
    <% posts.forEach( post => { %>
        <div class="post"><img src="<%= post.image_post %> "></div>
    <% }) %> 
    
    
    <!-- <div class="post"><img src="/images/random_pic_post/15.jpg"></div>
    <div class="post"><img src="/images/random_pic_post/16.jpg"></div>
    <div class="post"><img src="/images/random_pic_post/9.jpg"></div>
    <div class="post"><img src="/images/random_pic_post/7.jpg"></div>
    <div class="post"><img src="/images/random_pic_post/13.jpg"></div>
    <div class="post"><img src="/images/random_pic_post/12.jpg"></div> -->
</div>