<!DOCTYPE html>
<html lang="en">

<%- include('./includes/_head')%>

<body>
    <main>
        <h1>DATABASE</h1>
    </main>
    <%- include('./includes/_footer')%>
    <link rel='stylesheet' href='/stylesheets/database.css' type="text/css" />

</body>