<%- include('./includes/_head')%>

<body>
    <main>
        <div class="mainConteiner">
            <div class="banner">
                <img src="/images/login_background.png" alt="">
            </div>
            <div class="loginConteiner">
                <div class="loginContent">
                    <a href="/"><h1>not_so_Instagram</h1></a>
                    <form action="/login" method="POST" class="formLogin">
                        <input type="text" name="user" placeholder="Username or e-mail">
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit">Log In</button>
                    </form>
                    <div class="orLine">
                        <svg class="line">
                            <line x1="0" y1="0" x2="200" y2="0" />
                        </svg>
                        <p>OR</p>
                        <svg class="line">
                            <line x1="0" y1="0" x2="200" y2="0" />
                        </svg>
                    </div>
                    <% if (typeof(msg) != 'undefined' && typeof(msg) != null) {%>
                    <div class="loginError">
                        <%= msg %>
                    </div>
                    <% } %>
                    <a href="/">Forgot Password?</a>
                </div>
                <div class="createAccountContent">
                    <p>Don't have an account? <a href="/signup">Sign up</a></p>
                </div>
            </div>
        </div>

    </main>
    <%- include('./includes/_footer')%>

    <link rel='stylesheet' href='/stylesheets/login.css' type="text/css" />
</body>

</html>