<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<body>
    <main>
        <div class="mainConteiner">
            <div class="banner">
                <img src="/images/login_background.png" alt="">
            </div>
            <div class="loginConteiner">
                <div class="loginContent">
                    <h1>not_so_Instagram</h1>
                    <form action="/login" method="POST" class="formLogin">
                        <input type="text" name="user" placeholder="Username or e-mail">
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit">Log In</button>
                    </form>
                    <div class="orLine">
                        <svg class="line">
                            <line x1="0" y1="0" x2="200" y2="0"/>
                          </svg>
                        <p>OR</p>
                        <svg class="line">
                            <line x1="0" y1="0" x2="200" y2="0"/>
                        </svg>
                    </div>
                    <% if (typeof(msg) != 'undefined' && typeof(msg) != null) {%>
                        <div class="loginError">
                            <%= msg %>
                        </div>
                    <% } %>
                    <a href="/">Forgot Password?</a>                
                </div>
                <div class="createAccountContent">
                    <p>Don't have an account? <a href="/login/signup">Sign up</a></p>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <span>© 2020 <a href="/">not_so_Instagram</a> developed by <a href="https://github.com/pedrocpires"
                target="_blank">Pedro Pires.</a></span>
    </footer>
</body>

</html>
