<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/signup.css' />
</head>

<body>
    <main>
        <div class="mainConteiner">
            <div class="loginConteiner">
                <div class="loginContent">
                    <h1>not_so_Instagram</h1>
                    <h2>Sign up to see photos and videos from your friends.</h2>
                    <form action="" class="formLogin">
                        <input type="email" placeholder="E-mail">
                        <input type="text" placeholder="Full name">
                        <input type="text" placeholder="Username">
                        <input type="password" placeholder="Password">

                        <button>Log In</button>
                    </form>
                    <h4>By signing up, you agree to our Terms , Data Policy and Cookies Policy.</h4>      
                </div>
                <div class="createAccountContent">
                    <p>Have an account? <a href="/">Log in</a></p>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <span>© 2020 <a href="/">not_so_Instagram</a> developed by <a href="https://github.com/pedrocpires"
                target="_blank">Pedro Pires.</a></span>
    </footer>
</body>

</html>
