<!DOCTYPE html>
<html lang="en">

    <%- include('./includes/_head')%>

<body>
    <main>
        <div class="mainConteiner">
            <div class="loginConteiner">
                <div class="loginContent">
                    <h1>not_so_Instagram</h1>
                    <h2>Sign up to see photos and videos from your friends.</h2>
                    <form action="/signup" method="POST" class="formLogin">
                        <input type="email" name="email" placeholder="E-mail">
                        <input type="text" name="fullname" placeholder="Full name">
                        <input type="text" name="username" placeholder="Username">
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit">Sign Up</button>
                    </form>
                    <h4>By signing up, you agree to our Terms , Data Policy and Cookies Policy.</h4>      
                </div>
                <div class="createAccountContent">
                    <p>Have an account? <a href="/login">Log in</a></p>
                </div>
            </div>
        </div>

    </main>

    <%- include('./includes/_footer')%>
    
    <link rel='stylesheet' href='/stylesheets/signup.css' type="text/css" />

</body>

</html>
