main {
    margin: 0px auto;
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100vh - 110px);
}

.tableDatabase {
    margin: 0px 20px;
    overflow-y: auto;
}

.buttonDatabase {
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
}

.buttonDatabase .btn {
    margin: 10px;
}

.actionButton {
    display: flex;
    align-items: center;
    justify-content: flex;
}

thead tr:first-child * {
    position: sticky;
    top: -1px;
}

.photoProfile{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}