main {
    padding-top: 54px;
}

.mainConteiner {
    width: 100%;
    margin: 4vh auto;
    display: flex;
    max-height: 600px;
    border-radius: 3px;
    flex: 0 1 935px;
    border: 1px solid #dbdbdb;
    box-sizing: content-box;
    background-color: #ffffff;
}

.postConteiner{
    display: flex;
    flex: 1 1 0px;
}

.imagePost {
    background-color: #ffffff;
    display: flex;
    flex: 1 1 0px;
}

.imagePost img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.painelPost {
    background-color: #ffffff;
    flex: 0 0 335px;
    display: flex;
    flex-direction: column;
}

.headPainel {
    width: 100%;
    display: flex;
    padding: 16px;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
    border-bottom: 1px solid #efefef;
}

.photoProfile {
    display: flex;
    align-items: center;
}

.photoProfile img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.dataProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 16px;
}

.dataProfile h1 {
    font-size: 14px;
    line-height: 18px;
}

.formEdit {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 16px 0px;

}

.formEdit label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 32px;
    flex: 0 0 194px;
    text-align: right;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    height: 32px;
    margin-bottom: 16px;
}

.formEdit input {
    border: 1px solid #dbdbdb;
    height: 32px;
    background-color: transparent;
    border-radius: 3px;
    display: flex;
    flex: 0 1 355px;
    margin-bottom: 16px;
    padding: 0px 10px;
}

.formEdit textarea {
    border: 1px solid #dbdbdb;
    height: 60px;
    background-color: transparent;
    border-radius: 3px;
    display: flex;
    flex: 0 1 355px;
    margin-bottom: 16px;
    resize: vertical;
    padding: 5px 10px;
}

.formEdit div {
    height: 32px;
    display: flex;
    flex: 0 1 355px;
    margin-bottom: 16px;
    justify-content: space-between;
}


.formEdit div #submit {
    background-color: #0093f5cc;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    padding: 5px 9px;
    font-size: 14px;
    line-height: 18px;
    display: flex;
}

.formEdit div #disable {
    background-color: transparent;
    text-align: left;
    border: 0px;
    color: #0095f6;
    font-weight: 600;
}

.modal-content{
    width: 400px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 12px;
}

.modal-header{
    justify-content: center;
    margin: 32px 32px 16px 32px;
    border: 0px;
    padding: 0px;

}

.modal-header h3{
    color: #262626;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: -4px 0px -6px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.modal-body{
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0px;
    margin-top: 16px;
}

.modal-body label{
    background-color: transparent;
    border-top: 1px solid #dbdbdb;
    min-height: 48px;
    padding: 4px 8px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
    cursor: pointer;
}

#btnUpload{
    color: #0095f6;
}

#btnRemove{
    color: #ed4956;
}

#btnCancel{
    color: #262626;
    font-weight: 400;
}

.custom-file-input{
    border: 1px solid tomato;
}

.modal-body input, .modal-body button{
    display: none;
}